/* reset.css */

/* font */

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
dl,
dd {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default blockquote styles */
blockquote,
q {
  quotes: none;
}

/* Remove default quote styles */
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* Remove default table border */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Reset some commonly used elements to remove their default styling */
a {
  text-decoration: none;
  color: inherit;
}

em,
i,
address {
  font-style: normal;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* Reset form elements to avoid inconsistent styles */
button,
input {
  overflow: visible;
}

/* Correct font family inheritance for form elements */
button,
select {
  text-transform: none;
}

/* Remove inner spacing in Internet Explorer */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Reset buttons and inputs to cursor:pointer to improve usability */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  background: none;
}

/* Optional: Add some basic styles for the body */
body {
  font-family: "S-CoreDream-3Light";
  font-size: 16px;
  line-height: 1;
  color: #444;
  word-break: keep-all;
}
